<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ServerDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Курсовая 4 сем\Курсовая\Server\ServerDatabase.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>